{% extends "layout.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block extrahead %}


<!-- Custom CSS -->
<link href="{% static "css/base.css" %}" rel="stylesheet">
<script src="/static/js/dashboard.js"></script>

{% endblock %}
{% block basecontent %}
<!-- Page wrapper div -->
<div id="wrapper" class="d-flex flex-column">
    <!-- Navbar Content -->
    {% block bgColor %}
    <nav class="navbar navbar-light navbar-expand-lg bg-light border-bottom navbar-fixed-top py-0 mb-0" role="navigation">
    {% endblock bgColor %}
    <!-- Div to center and pad navbar content -->
        <div class="container-fluid pb-2 pb-sm-0">
            <!-- Logo -->
            {% block logo %}
            {% endblock logo %}
            <!-- Navbar collapse button -->
            <button
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <i class="fas fa-bars d-inline"></i>
            </button>
            <!-- Page Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="navbar-brand theme-override nav-link active" href={% url 'dashboard:index' %} 
                        style="margin-left:10px; font-size:20px; vertical-align:middle;">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand theme-override nav-link active" href={% url 'notifier:messages' %} 
                        style="margin-left:10px; font-size:20px; vertical-align:middle;">Notifications</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand theme-override nav-link active" href={% url 'booking:stats' %} 
                        style="margin-left:10px; font-size:20px; vertical-align:middle;">Booking Statistics</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand theme-override nav-link active" href={% url 'account:my-resources' %} 
                        style="margin-left:10px; font-size:20px; vertical-align:middle;">My Resources</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand theme-override nav-link active" href={% url 'account:my-bookings' %} 
                        style="margin-left:10px; font-size:20px; vertical-align:middle;">Past Bookings</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navbar-brand theme-override nav-link active" href={% url 'dashboard:all_labs' %} 
                        style="margin-left:10px; font-size:20px; vertical-align:middle;">Lab Info</a>
                    </li>
                </ul>
            </div>
            {% block userDropDownText %}
            <a class="nav-link p-0 p-2 Anuket-Text" data-toggle="dropdown" href="#">
                {% if request.user.username %}
                    {{request.user.username}}
                {% else %}
                    <i class="fas fa-user"></i>
                {% endif %}
                <i class="fas fa-caret-down rotate"></i>
            </a>
            {% endblock userDropDownText %}
            <div class="dropdown-menu dropdown-menu-right">
                {% if LFID %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'account:settings' %}" class="dropdown-item Anuket-Text">
                        <i class="fas fa-cog"></i>
                            Settings
                    </a>
                    {% if user.is_superuser %}
                    <a href="/admin" class="dropdown-item Anuket-Text">
                        <i class="fas fa-key"></i>
                            Site Administration
                    </a>
                    {% endif %}
                    <a id="logout_btn" href="#" method="post" class="dropdown-item Anuket-Text">
                        <i class="fas fa-sign-out-alt"></i>
                            Logout
                    </a>
                    <form id="logout_form" action="{% url 'oidc_logout' %}" method="post" style="visibility: hidden;">
                        {% csrf_token %}
                        <input type="submit" value="logout">
                    </form>
                    <script>
                        const logout_btn = document.getElementById("logout_btn");

                        const logout_form = document.getElementById("logout_form");

                        logout_btn.onclick = function() { logout_form.submit(); };
                    </script>
                    {% else %}
                    <a href="{% url 'oidc_authentication_init' %}" class="dropdown-item Anuket-Text">
                        <i class="fas fa-sign-in-alt"></i>
                            Login with LFID
                    </a>
                    {% endif %}
                {% else %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'account:settings' %}" class="dropdown-item Anuket-Text">
                            <i class="fas fa-cog"></i>
                            Settings
                        </a>
                        {% if user.is_superuser %}
                        <a href="/admin" class="dropdown-item Anuket-Text">
                            <i class="fas fa-key"></i>
                                Site Administration
                        </a>
                        {% endif %}
                        <a href="{% url 'account:logout' %}?next={{ request.path }}" class="dropdown-item Anuket-Text">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    {% else %}
                        <a href="{% url 'account:login' %}" class="dropdown-item Anuket-Text">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container-fluid d-flex flex-grow-1 px-0 align-items-start flex-column">
        <div class="row flex-grow-1 w-100 mx-0 align-content-start flex-lg-grow-1">
            <div class="col overflow-auto flex-grow-1 d-flex flex-column h-100 p-0">
                {% if title %}
                <div class="row flex-shrink-1">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{ title }}</h1>
                    </div>
                </div>
                {% endif %}
                {% if messages %}
                    <div id="bsm" class="mt-4">{% bootstrap_messages %}</div>
                {% endif %}
                <!-- Content block placed here -->
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>
{% endblock basecontent %}
