{% extends "base.html" %}
{% block content %}
<div class="row">
{% for resource in resources %}
    {% if resource.owner == request.user.id %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <h3>{{resource.name}}</h3>
            </div>
            <div class="card-body card-body-scroll p-0">
                <ul class="list-group list-group-flush h-100">
                    <li class="list-group-item">Description: {{resource.description}}</li>
                    {% for host in resource.hosts %} <!--todo: make into a fixed size scrollable area-->
                    <li class="list-group-item">{{host.0}}: {{host.1}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-footer">
                <button
                    class="btn btn-danger w-100"
                    onclick='on_button_delete("{{resource.buttonid}}");'
                    data-toggle="modal"
                    data-target="#resModal"
                >Delete</button>
            </div>
        </div>
    </div>
    {% endif %}
{% empty %}
    <div class="col">
        <p>You don't have any resources. You can create a resource by designing a pod.</p>
    </div>
{% endfor %}
</div>

<script>
    let selected_uuid = "none";
    function on_button_delete(uuid) {
        console.log("changing selected uuid " + "to " + uuid);
        selected_uuid = uuid;
    }

    function confirm_delete() {
        console.log("sending delete with id " + selected_uuid + " to liblaas");

        return new Promise((resolve, reject) => {
      $.ajax(
        {
        crossDomain: true,
        method: "POST",
        contentType: "application/json; charset=utf-8",
        dataType : 'json',
        data: JSON.stringify(
          {
            "liblaas_endpoint": "template/" + selected_uuid,
            "payload": {},
            "request_method": "DELETE"
          }
        ),
        timeout: 30000,
        success: (response) => {
          resolve(response);
        },
        error: (response) => {
          alert("Oops, something went wrong!");
          reject(response);
        }
      }
      )
    })
    }
</script>


<div class="modal fade" id="resModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title d-inline float-left">Delete Resource?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="res_delete_form">
                {% csrf_token %}
            </form>
            <div class="modal-footer d-flex flex-column">
                <div class="mb-2">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#warning">Delete</button>
                </div>
                <div class="collapse w-100 text-center border-top" id="warning">
                    <div class="p-4">
                        <h3 id="config_warning">Are You Sure?</h3>
                        <p id="warning_subtext">This cannot be undone</p>
                        <ul id="config_list"></ul>
                        <button class="btn btn-outline-secondary" data-dismiss="modal">Nevermind</button>
                        <button class="btn btn-danger" id="confirm_delete_button" data-dismiss="modal" onclick="confirm_delete();">I'm Sure</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
