{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block extrahead %}
<script src="/static/js/workflow_classes.js"></script>
<script src="/static/js/book_a_pod.js"></script>
{% endblock %}

{% block content %}


<!-- Main Content Div -->
<body>
  <div id="prev" class="row w-100 m-0">
    <button class="btn btn-workflow-nav stretched-link m-0 p-0 mt-3" onclick="work.go_prev()" id="workflow-prev">
      <div class="arrow arrow-up"></div>
    </button>
  </div>

  <div id="next" class="row w-100 m-0">
    <button class="btn btn-workflow-nav stretched-link m-0 p-0 mb-3" onclick="work.go_next()" id="workflow-next">
      <div class="arrow arrow-down"></div>
    </button>
  </div>

  <div class="scroll-container w-100 h-100 p-0">
    <div class="scroll-area pt-5 mx-5" id="add_collabs">
      <h2 class="p-3 text-center mx-5 mt-3">Add Collaborators:</h2>
      <div class="row justify-content-center">
        <div class="col-xl-6 col-md-8 col-11 p-0 border border-dark">
          {% bootstrap_field form.users label="Collaborators" %}
        </div>
      </div>
    </div>

    <div class="scroll-area pt-5 mx-5" id="select_template">
      <h2 class="p-3 text-center mx-5 mt-3">Select Host Or Template:</h2>
      <div class="row card-deck align-items-center justify-content-center">

        <div class="col-xl-6 col-md-8 col-11" id="template_list">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="default_templates_tab" href="#default_templates" role="tab" data-toggle="tab">Default Templates</a></li>
            {% if dashboard == 'laas' %}<li class="nav-item"><a class="nav-link" id="my_pods_tab" href="#my_pods" role="tab" data-toggle="tab">My Pods</a></li>{% endif %}
          </ul>

          <div class="tab-content my-5" id="select_template_tab_content">
            <div class="tab-pane show active" id="default_templates" role="tabpanel">
              <ul id="default_templates_list" class="p-0 m-0">
              </ul>
            </div>
            <div class="tab-pane" id="my_pods" role="tabpanel">
              <ul id="my_pods_list" class="p-0 m-0">
              </ul>
            </div>
          </div>

        </div>
        <div id="template_card" class="col-xl-3 col-md-6 col-11" hidden>
          <div class="card">
            <div class="card-header">
              <h3 class="mt-2">Selected Pod</h3>
            </div>
            <ul class="list-group list-group-flush h-100 mb-4">
            </ul>
            <div class="card-footer">
              <button class="btn btn-primary w-100" onclick="work.select_template_change()">Change</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-area pt-5 mx-5" id="cloud_init">
      <h2 class="p-3 text-center mx-5 mt-3">Cloud Init</h2>
      <div id="cloud_init_deck" class="row card-deck align-items-center justify-content-center">
      </div>
    </div>
    <div class="scroll-area pt-5 mx-5" id="booking_details">
      <h2 class="p-3 text-center mx-5 mt-3">Booking Details</h2>
      <div class="form-group">
        <div class="row justify-content-center align-items-center my-4">
          <div class="col-xl-6 col-md-8 col-11">
            <input id="input_project" class="form-control form-control-lg border border-dark p-5" type="text" placeholder="Project">
          </div>
        </div>
        <div class="row justify-content-center align-items-center my-4">
          <div class="col-xl-6 col-md-8 col-11">
            <input id="input_purpose" class="form-control form-control-lg border border-dark p-5" type="text" placeholder = "Purpose">
          </div>
        </div>
        <div class="row justify-content-center align-items-center my-4">
          <span id="booking_details_error" class="text-danger col-xl-6 col-md-8 col-11"></span>
        </div>
        <div class="row justify-content-center align-items-center my-4">
          <span id="booking_details_day_counter" class="col-md-1 col-2 p-0">Days: 1</span>
          <input id="input_length" type="range" min="1" max="21" value="1" class="form-control form-control-lg col-xl-5 col-9 p-0" placeholder="Length" oninput="work.booking_details_update_days()">
        </div>
      </div>
    </div>
    <div class="scroll-area pt-5 mx-5" id="booking_summary">
      <h2 class="p-3 text-center mx-5 mt-3">Booking Summary</h2>
      <div class="row justify-content-center align-items-center">
        <div class="card col-xl-6 col-md-8 col-11 border-0">
          <ul class="list-group">
            <li class="list-group-item">Booking Details
              <ul id="booking_summary_booking_details">
              </ul>
            </li>
            <li class="list-group-item">Collaborators
              <ul id="booking_summary_collaborators">
              </ul>
            </li>
            <li class="list-group-item">Hosts
              <ul id="booking_summary_hosts">
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-5">
        <button class="btn btn-danger cancel-book-button p-0 mr-2 col-xl-2 col-md-3 col-5" onclick="work.cancel_booking()">Cancel</button>
        <button class="btn btn-success cancel-book-button p-0 ml-2 col-xl-2 col-md-3 col-5" onclick = work.submit_booking()>Book</button>
      </div>
    </div>
  </div>
</body>
<script>
  const work = new Booking_Workflow("{{username}}");
  work.initialize_elements();
</script>
{% endblock %}