{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block extrahead %}
<script src="/static/js/workflow_classes.js"></script>
<script src="/static/js/design_a_pod.js"></script>
{% endblock %}

{% block content %}
{% if dashboard == 'laas' %}
<!-- Tuesday TODO: Move test function to submit button, continue implementing changes-->
<!-- TODO: Fix / check for event listener memory leak -->
<!-- TODO: Convert all raw innerHTML assignments to document.createElement -->
<!-- TODO: Make consistant naming schemes or remove them altogether by implementing smarter queryselectors-->
<!-- TODO: Implement accessability features -->
<!-- TODO: Implement fix for scroll / btn incompatibility - Detect if user interacts with a field not on the current step, then quiety change step -->
<!-- TODO: Add public checkbox / slider -->

<!-- Design Feedback -->
<!-- Use tabs instead of buttons -->
<!-- Show preview of connections on the cards (or just remove the modal altogether) -->
<!-- Make styling look good -->
<!-- Tree buttons instead of dropdowns for add host -->

<!-- Main Content Div -->
<body>
  <div class="row w-100 m-0 align-items-center justify-content-center workflow-nav-bar">
    <button class="col-xl-2 col-md-3 col-5 btn btn-primary p-0 mr-1" onclick="work.go_prev()" id="workflow-prev" disabled><i class="fas fa-arrow-up"></i></button>
    <button class="col-xl-2 col-md-3 col-5 btn btn-primary p-0 ml-1" onclick="work.go_next()" id="workflow-next"><i class="fas fa-arrow-down"></i></button>
  </div>

  <div class="scroll-container w-100 h-100 p-0">
    <div class="scroll-area" id="select_lab">
      <h2 class="p-3 text-center mx-5">Select a Lab:</h2>
      <div class="row card-deck justify-content-center" id="lab_cards">
      </div>
    </div>

    <div class="scroll-area" id="add_hosts">
      <h2 class="p-3 text-center mx-5">Add Hosts:</h2>
      <div class="row card-deck align-items-center">
        <div class="col-xl-3 col-md-6 col-12" id="host-plus-card">
          <div class="card justify-content-center align-items-center border-0">
            <button class="btn btn-success add-button p-0" onclick="work.add_host_button()">+</button>
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-area" id="add_networks">
      <h2 class="p-3 text-center mx-5">Add Networks:</h2>
        <div class="row card-deck align-items-center">
          <div class="col-xl-3 col-md-6 col-12" id="network-plus-card">
            <div class="card justify-content-center align-items-center border-0">
              <button class="btn btn-success add-button p-0" onclick="work.add_network_button()">+</button>
            </div>
          </div>
        </div>
    </div>

    <div class="scroll-area" id="configure_connections">
      <h2 class="p-3 text-center mx-5">Configure Connections:</h2>
      <div class="row card-deck align-items-center justify-content-center" id="connection_cards">
      </div>
    </div>

    <div class="scroll-area" id="pod_details">
      <h2 class="p-3 text-center">Pod Details</h2>
      <div class="form-group">
        <div class="row justify-content-center align-items-center my-4">
          <input id="pod-name-input" class="form-control form-control-lg col-xl-6 col-md-8 col-11 border border-dark p-3" type="text" placeholder="Pod Name">
        </div>
        <div class="row justify-content-center align-items-center my-4">
          <textarea id="pod-desc-input" class="form-control form-control-lg col-xl-6 col-md-8 col-11 border border-dark pt-3 pl-3" rows="5" placeholder="Pod Description"></textarea>
        </div>
        <div class="row justify-content-center align-items-center my-4">
          <span id="pod_details_error" class="text-danger col-xl-6 col-md-8 col-11"></span>
        </div>
      </div>
    </div>

    <div class="scroll-area" id="pod_summary">
      <h2 class="p-3 text-center mx-5">Pod Summary:</h2>
      <div class="row justify-content-center align-items-center">
        <div class="card col-xl-6 col-md-8 col-11 border-0">
          <ul class="list-group">
            <li class="list-group-item">Pod Details
              <ul id="pod_summary_pod_details">
              </ul>
            </li>
            <li class="list-group-item">Hosts
              <ul id="pod_summary_hosts">
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-5">
        <button class="btn btn-danger cancel-book-button p-0 mr-2 col-xl-2 col-md-3 col-5" onclick="work.delete_template()">Discard</button>
        <button class="btn btn-success cancel-book-button p-0 ml-2 col-xl-2 col-md-3 col-5" onclick = work.submit()>Create</button>
      </div>
    </div>
  </div>

  <!-- Add Host Modal -->
  <div class="modal fade" id="host-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="host-modal-label">Add Host</h5>
          <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="flavor-input">Flavor</label>
            <select id="flavor-input">
            </select>
          </div>
          <div class="form-group">
            <label for="image-input">Image</label>
            <select id="image-input">
            </select>
          </div>
          <div class="form-group">
            <label for="hostname-input">Hostname</label>
            <input type="text" class="form-control" id="hostname-input" placeholder="Enter Hostname">
          </div>
          <p id="add-host-error-msg" class="text-danger"></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" onclick="work.add_host()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Network Modal -->
  <div class="modal fade" id="network-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="network-modal-label">Add Network</h5>
          <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="network-input" placeholder="Enter Network Name">
          <p id="add-network-error-msg" class="text-danger mt-2 mb-0"></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" onclick="work.add_network()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Configure Connections modal -->
<div class="modal fade" id="connection-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Configure Connections</h5>
        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-center">
        <p>Select an interface to begin configuration.</p>
        <table class="table table-bordered">
          <tr id="connections_interface_list"></tr>
        </table>
        <table id="connections_widget" class="table table-bordered">
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" id="connection-modal-submit" onclick="">Confirm</button>
      </div>
    </div>
  </div>
</div>
</body>

<script>
  // Must be executed after html is read and elements are rendered
  // Execute on page load
  const new_pod = new PodTemplate();
  const work = new Design_Workflow(new_pod);
  work.pod.username = "{{username}}";
  work.display_labs();
  work.initialize_elements();
</script>
{% endif %}
{% endblock %}
