{% extends "base/base.html" %}
{% load staticfiles %}
{% block bgColor %}
<style>
.bgLFEdge {
    background: #0049b0;
}
</style>
<nav class="navbar navbar-light bgLFEdge navbar-fixed-top border-bottom py-0 mb-0" role="navigation">
{% endblock bgColor %}

{% block logo %}
<div class="barClamp col-12 col-sm order-1 order-sm-2 text-center text-lg-left">
    <a href="https://www.lfedge.org/" class="navbar-brand">
        <img src="{% static "img/lfedge-logo.png" %}">
    </a>

    <a class="navbar-brand d-none d-lg-inline" href={% url 'dashboard:index' %}>
        Dashboard
    </a>
</div>
{% endblock logo %}
{% block dropDown %}
{% endblock dropDown %}
