<html>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher&display=swap" rel="stylesheet">
    <style>
        h2{font-family: Philosopher;}
        p{font-family: Montserrat; font-weight: bold;}
        li{font-family: Montserrat; font-weight: bold;}
        .textFormatting{text-align: justify; color:#343a40;}
        a{color:#E36386;}
    </style>
    <body>
        <div id="message_content_wrapper" class="textFormatting">
            {% if owner %}
            <h2>Your booking has expired</h2>
            <p>Your booking has ended and the machines have been cleaned up.</p>
            <p>Thank you for working on {{booking.lab.project}}, and feel free to book more machines if you need them.</p>
            {% else %}
            <h2>A booking that you collaborated on has expired</h2>
            <p>The booking owned by {{booking.owner.username}} that you worked on has ended</p>
            <p>Thank you for contributing to {{booking.lab.project}}.</p>
            {% endif %}
            <p style="text-decoration: underline; font-size: larger;">Booking information:</p>
            <ul>
                <li>owner: {{booking.owner.username}}</li>
                <li>id: {{booking.id}}</li>
                <li>lab: {{booking.resource.template.lab.lab_user.username}}</li>
                <li>resource: {{booking.resource.template.name}}</li>
                <li>start: {{booking.start}}</li>
                <li>end: {{booking.end}}</li>
                <li>purpose: {{booking.purpose}}</li>
                <li>collaborators:
                    <ul>
                        {% for user in booking.collaborators.all %}
                        <li>{{user.username}}</li>
                        {% empty %}
                        <li>No collaborators</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <p>You can find more detailed information <a href=/booking/detail/{{booking.id}}/>Here</a></p>
        </div>
    </body>
</html>
